@{
    ViewBag.Title = "Home Page";
}

@section scripts
{

    <script type="text/javascript">


        $(document).ready(function() {
            isAuthenticated = @Request.IsAuthenticated.ToString().ToLower();

            initMap();

            initHyperHub();

            getCurrentLocation();
        });

</script>
}
<div id="map" class="floating-label"></div>