<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://timetravellers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>timetravellers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>timetravellers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$timetravellers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:bcco68x2ot.database.windows.net,1433;Initial Catalog=timetravellers_db;User ID=bigbee_sa@bcco68x2ot;Password=ashton0408!" Name="Data Source=tcp:bcco68x2ot.database.windows.net,1433;Initial Catalog=timetravellers_db;User Id=bigbee_sa@bcco68x2ot;Password=ashton0408!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TimeTraveller.Models.ApplicationDbContext, TimeTraveller" MigrationConfiguration="TimeTraveller.Migrations.Configuration, TimeTraveller" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bcco68x2ot.database.windows.net,1433;Initial Catalog=timetravellers_db;User Id=bigbee_sa@bcco68x2ot;Password=ashton0408!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>