
<div class="offcanvas">

    <!-- BEGIN OFFCANVAS SEARCH -->
    <div id="offcanvas-myusage" class="offcanvas-pane width-8">
        <div class="offcanvas-head">
            <header class="text-primary">My Usage</header>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body no-padding">

        </div><!--end .offcanvas-body -->

        <footer>Test</footer>
    </div><!--end .offcanvas-pane -->
    <!-- END OFFCANVAS SEARCH -->

</div><!--end .offcanvas-->