<ul class="header-nav header-nav-options">
    <li class="dropdown">
        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
            <i class="fa fa-clock-o"></i>
            <span id="currentYear" style="padding-right: 4px;">2014</span>
        </a>
        <ul class="dropdown-menu animation-expand">
            <li class="dropdown-header">Choose Timeline</li>
            <li class="dropdown-progress">
                <div class="card">
                    <div class="card-body">
                        <form class="form">
                            <div class="form-group">
                                <div id="datepicker"></div>
                            </div>
                        </form>
                    </div><!--end .card-body -->
                </div><!--end .card -->

            </li><!--end .dropdown-progress -->
        </ul><!--end .dropdown-menu -->
    </li><!--end .dropdown -->
</ul><!--end .header-nav-options -->

<ul class="header-nav header-nav-options">
    <li class="dropdown">
        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
            <i class="fa fa-area-chart"></i>
        </a>
        <ul class="dropdown-menu animation-expand">
            <li class="dropdown-header">Toggle Map Overlay</li>
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkPowerStation" class="reportToggle">
                        <span><i class="fa fa-steam"></i>&nbsp;Power Stations</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkAircon" class="reportToggle">
                        <span><i class="fa fa-arrow-up"></i>&nbsp;Aircon Usage</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkHeater" class="reportToggle">
                        <span><i class="fa fa-arrow-down"></i>&nbsp;Heater Usage</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkWaterPollutionTurbidity" class="reportToggle">
                        <span><i class="fa fa-ship"></i>&nbsp;Water Pollution (Turbidity 2013-2014)</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkWaterPollutionChlorine" class="reportToggle">
                        <span><i class="fa fa-ship"></i>&nbsp;Water Pollution (Chlorine 2013-2014)</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
            <li class="dropdown-progress">
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" value="" id="chkAirPollution" class="reportToggle">
                        <span><i class="fa fa-car"></i>&nbsp;Air Pollution (2010-2014)</span>
                    </label>
                </div>
            </li><!--end .dropdown-progress -->
        </ul><!--end .dropdown-menu -->
    </li><!--end .dropdown -->
</ul><!--end .header-nav-options -->



<ul class="header-nav header-nav-profile">
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="//lh3.googleusercontent.com/-TJc2-TVmW3M/AAAAAAAAAAI/AAAAAAAAAAA/XvAvQer9vQw/photo.jpg" alt=""/>
            <span class="profile-info">
                    @Session["Fullname"].ToString()
                </span>
        </a>
        <ul class="dropdown-menu animation-dock">
            <li class="dropdown-header">Config</li>
            <li><a href="@Url.Action("Index", "Manage")">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="javascript:logOff();"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
        </ul><!--end .dropdown-menu -->
    </li><!--end .dropdown -->
</ul>

<ul class="header-nav header-nav-toggle">
    <li>
        <a class="btn btn-icon-toggle btn-default" href="#offcanvas-myusage" data-toggle="offcanvas" data-backdrop="false">
            <i class="fa fa-lightbulb-o"></i>
        </a>
    </li>
</ul>